body {
    font-family: sans-serif;
    margin:0 10% 2% 10%;
    background: #eee;
    color: #4e4e4e;
}

h1,
h2,
h3,
h4 {
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {
    color: gray;
    padding: 2% 5% 2% 5%;
    border-bottom: 1px solid #fcf3e5;
    background:white;
}

h2 {
    padding-top:2%;
}

p,
dd,
dt {
}

a {
    text-decoration: none;
    color:#ff7100;
    font-size: 1em;
}

input[type=submit] {
    padding:5px 15px; 
    background:#d7d1d1; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.pane {
    background-color:#fcf3e5;
}

.control {
    text-align:  right;
    padding:15px;
}

.header {
    left: 50%;
    text-align: center;
    background-color: rgba(255, 184, 77, 1);
    padding: 2% 0%;
    z-index: 2;
    color:white;
}

.menu{
    font-size: 1.1em;
    border-bottom: 1px solid white;
    padding-left:5%;
}

.inputform{
    
    font-size: 1.1em;
    padding:5%;
    
}

.name {
    display: inline-block;
    

}

.description {
    float:left;
    margin-right:70%;
}

.price {
    text-align: right;
    width: 50%;
    float: right;
    margin-right:2%;
}

.editdeletepane {}

.flash {
    background: #cee5f5;
}
