<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type='text/css' href="{{url_for('static', filename='styles.css')}}">
</head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                  <li><strong>{{message}}</strong></li>
                  {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1>{{restaurant.name}}</h1><br/>
        <a href = "{{url_for('newMenuItem', restaurant_id = restaurant.id) }}">Create New Item</a><br/><br/>
        {% if items == [] %}
            <div> There are currently no items in the menu.
            </div><br/>
        {% else %}
        {% for i in items %}
        
            <div>
                {{i.name}}<br/>
                {{i.description}}<br/>
                {{i.price}} <br/>
                <a href="{{ url_for('editMenuItem', restaurant_id= restaurant.id, menu_id = i.id) }}">edit</a><br/>
                <a href="{{ url_for('deleteMenuItem', restaurant_id= restaurant.id, menu_id = i.id) }}">delete</a><br/>
                <br/>
                
            </div>
            
        {% endfor %}
        {% endif %}
        <a href = "{{url_for('listRestaurants') }}">Back</a>
    </body>
</html>
