<!DOCTYPE html>
<html>
    <body>
    
        <h1>{{restaurant.name}}</h1>
        <a href = '{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>Create New Item</a>
        {% for i in items %}
        
            <div>
                {{i.name}}<br/>
                {{i.description}}<br/>
                {{i.price}} <br/>
                <a href="{{ url_for('editMenuItem', restaurant_id= restaurant.id, menu_id = i.id) }}">edit</a><br/>
                <a href="{{ url_for('deleteMenuItem', restaurant_id= restaurant.id, menu_id = i.id) }}">delete</a><br/>
                <br/>
                
            </div>
            
        {% endfor %}
        
    </body>
</html>
