<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type='text/css' href="{{url_for('static', filename='styles.css')}}">
</head>
    <body >
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                  <li><strong>{{message}}</strong></li>
                  {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1 class="header">{{restaurant.name}}
        <figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
        </figure>
        </h1>
        <div class="pane">
        <div class="control">
            <a href = "{{url_for('newMenuItem', restaurant_id = restaurant.id) }}">Create New Item</a>  |         
            {{name}} 
            <a href = "{{url_for('gdisconnect') }}">Logout</a>  |   
            <a href = "{{url_for('listRestaurants') }}">Back</a>
        </div> 
        {% if items == [] %}
            <div > There are currently no items in the menu.
            </div><br/>
        {% else %}
        {% set clist = ['Appetizer', 'Entree', 'Dessert', 'Beverage']%}
            {% for c in clist %}
            <h1>{{c}}</h1>
            {%for i in items%}
                {% if i.course == c %}
                <div class="menu">
                        <p class='name'>{{i.name}}</p><br/>
                        <p class='description'>{{i.description}}</p><br/>
                        <p class='price'>{{i.price}}</p> <br/>
                        <a href="{{ url_for('editMenuItem', restaurant_id= restaurant.id, menu_id = i.id) }}">edit</a><br/>
                        <a href="{{ url_for('deleteMenuItem', restaurant_id= restaurant.id, menu_id = i.id) }}">delete</a><br/>
                        <br/>                    
                </div>
                {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        </div>
    </body>
</html>
